[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/qingtian1397
[access "refs/for/refs/*"]
	read = group user/qingtian1397
	push = group user/qingtian1397
	label-Code-Review = -2..+2 group user/qingtian1397
	label-Verified = -1..+1 group user/qingtian1397
	rebase = group user/qingtian1397
	removeReviewer = group user/qingtian1397
	submit = group user/qingtian1397
[access "refs/heads/*"]
	read = group user/qingtian1397
	create = group user/qingtian1397
	push = +force group user/qingtian1397
	pushMerge = group user/qingtian1397
[access "refs/tags/*"]
	push = +force group user/qingtian1397
	pushTag = group user/qingtian1397
	pushSignedTag = group user/qingtian1397
